After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/supply-chain/
#Environment="PATH=/home/sammy/myproject/myprojectenv/bin"
ExecStart=/home/ubuntu/venv/bin/rq worker jute-tasks

[Install]
WantedBy=multi-user.target

