<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Landing Page</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div class="columns">
<div class="containerk">
  <div class="cardk">
    <div class="cardk-img">
      <img src="{{ url_for('static',filename='logos/1.png')}}" />
    </div>
    <div class="cardk-body">
    	<br><br><br>
      <p class="cardk-title">
        <center> Market Place </center> <br>
        Marketplace refer to an open space or square in a town where people buy and sell Jute Products.
      </p>
    </div>
    <br><br><br><br>
    <center>
    	<form action="http://3.215.183.155:5001/index">
      		<button class="button">Take me here</button>
      	</form>
    </center>
  </div>
  <div class="cardk">
    <div class="cardk-img">
      <img src="{{ url_for('static',filename='logos/2.png')}}" />
    </div>
    <div class="cardk-body">
    	<br><br><br>
      <p class="cardk-title">
        <center>Value Chain</center> <br>
        Blockchain increase the efficiency and transparency of value chains and positively impact everything from warehousing to delivery to payment
      </p>
    </div>
    <br><br>
    <center>
    	<form action="http://35.172.121.202/index">
      		<button class="button">Take me here</button>
      	</form>
    </center>
  </div>
  <div class="cardk">
    <div class="cardk-img">
      <img src="{{ url_for('static',filename='logos/3.png')}}" />
    </div>
    <div class="cardk-body">
    	<br><br><br>
      <p class="cardk-title">
        <center>Track Your Bag</center> <br>
        Blockchain enables more transparent and accurate end-to-end tracking in the chain.
      </p>
    </div>
    <br><br><br><br><br>
    <center>
    	<form action="http://3.215.183.155:5001/index">
      		<button class="button">Take me here</button>
      	</form>
    </center>
  </div>
  <div class="cardk">
    <div class="cardk-img">
      <img src="{{ url_for('static',filename='logos/4.png')}}" />
    </div>
    <div class="cardk-body">
    	<br><br><br>
      <p class="cardk-title">
        <center>Tendor Quotation</center> <br>
        Tender - process of soliciting suppliers, to bid on the goods or services needed by the buyer. <br>
        Quotation - document of setting out the estimated cost, for supplying goods or services or procuring something.
      </p>
    </div>

    <center>
    	<form action="http://3.215.183.155:5002/">
      		<button class="button">Take me here</button>
      	</form>
    </center>
  </div>
  <div class="cardk">
    <div class="cardk-img">
      <img src="{{ url_for('static',filename='logos/5.png')}}" />
    </div>
    <div class="cardk-body">
    	<br><br><br>
      <p class="cardk-title">
        <center>Recycle Your Trash</center> <br>
        Recycling is very important as waste has a huge negative impact on the natural environment. Recycling helps to reduce the pollution caused by waste
      </p>
    </div>
<br><br>
    <center>
    	<form action="http://3.215.183.155:5002/">
      		<button class="button">Take me here</button>
      	</form>
    </center>
  </div>
</div>
</div>
</body>
</html>
