{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 style="color:maroon;"><em> Welcome {{user}} to Jute supply chain management Portal</em></h1>
    <br>
    <br>
    <h3 style="color:darkgreen">
        A <em>Blockchain </em>based solution to track the jute sacking bags production/procurement across the value chain
    </h3>
    <br><br><br><br><br><br>
    <center> <h2>E-governance, Smart Jute</h2></center>
    <br><br>
    <img src="static/flow.jpg" style="max-width: 100%;height: auto;">
{% endblock %}
