{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
<h1 id="user" value="{{ usern }}"> Hello {{ usern }}</h1>
    <br><br>
    <h2 style="color:maroon;">Received Purchase Orders :</h2>
    <br>
    {% for po in pos_r %}
    <h2>{{po._id}}</h2>
    <h3>Purchase Order from {{ po.po_sx }}</h3>
    <h3 style="color:#00796b;">Status: {{po.Status}}</h3>
    {% if po.Status == 'Pending' %}
        <form action="/sales" method="POST">
        <button class="button" name="po_id" value="{{ po._id }}">Apply</button>
        </form>
        <form action="/cancel_po" onsubmit = "return myFunction(this);" method="POST">
            <button type="submit" id="myBtn" name="po_id" value="{{ po._id }}">Cancel</button>
        </form>
    {% endif %}
    <br><br><br>
    {% endfor %}
    <h2 style="color:maroon;">Sent Purchase Orders :</h2>
    <br>
    {% for po in pos_s %}
    <h2>{{po._id}}</h2>
    <h3>Purchase Order from {{ po.po_sx }} to {{ po.po_rx }}</h3>
    <h3 style="color:#00796b;">Status: {{po.Status}}</h3>
    <br><br><br>
    {% endfor %}
    <script type="text/javascript">
        function myFunction(form) {
        var id = prompt("Enter your username");
        if("{{ usern }}"!= id)
        {
            alert('Username mismatch...try');
            return false;

        }
        alert('Click OK to cancel');
        return true;

}

    </script>
{% endblock %}
